# Python
__pycache__/
*.pyc

# Environment files
.env
.env.*
*.env

# Django
db.sqlite3
media/
staticfiles/

# Virtual env
venv/
env/

# IDE
.vscode/
.idea/
# Virtual environment
.venv/
venv/
env/

# Windows shortcuts
*.lnk

config.ini
